.LandingPage {
    background-image: url(../../imagenes/home.jpg);     
    background-size:cover;
    min-height: 100.1vh;
    display: flex;
    justify-content:flex-start;
    align-items:flex-end;
}

.Ingresar {
    margin-left: 90px;
    margin-bottom: 93px;
    position: relative;
    display: inline-block;
    padding: 1px 20px;
    color:#3bd419;
    letter-spacing: 4px;
    font-size: 15px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s;
    background-color: #a945c794;
    border: none;
    border-radius: 80px 5px 80px 10px;
    box-shadow: 0 0 20px #3bd419, 0 0 20px #3bd419, 0 0 20px #3bd419;
}

.Ingresar:hover{
    background-color: #24920b;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    color: #cca6d8;
    font-size: 22px;
    margin-left: 50px;
    margin-bottom: 70px;
    
}
