/* .NavBar{
    background-color: rgba(128, 34, 34, 0.514);
    margin-top: 0px;
    margin-bottom: 40px;
    display: flex;
    justify-content: end;
    height: 30px;
    padding: 20px;
    border-radius: 5px;
}

.SearchBar{
    width: 480px;
    gap: 0px;
}

.button{
    border-radius: 10px;
    min-width: auto;
    justify-content: center;
    font-size: 16px;
} */
